<label>Server Name</label>

<!-- <input
 type="text"
 class="form-control"
 (input)="onUpdateServerName($event)"> -->

 <!-- Two way data binding: combine property and event binding -> This Input field populated with serverName-->
 <input
 type="text"
 class="form-control"
 [(ngModel)] = "serverName">

 <!-- Output serverName below the input  -->  
 <!-- <p>{{serverName}}</p>  -->  


 <!-- Property (disabled) and event (click) binding in the button -->
<button
  class="btn btn-primary"
  [disabled]="!allowNewServer"
  (click)="onCreateServer()"
>
  Add Server
</button>

<!-- <p>{{ serverCreationStatus }}</p> -->


<!-- ngIf directive -->
<p *ngIf="serverCreated; else noServer">Server was created, server name is {{ serverName }}</p>   <!-- Paragraph shown only once we click to Add Server (onCreateServer() runs on button click)-->

<!-- Without else (ng-template #noServer) the paragraph would only show if serverCreated was true -->
<ng-template #noServer>
 <p>No server was created!</p>
</ng-template>

<!-- ngFor directive -->
<app-server *ngFor="let server of servers"></app-server>   <!-- Loops through the servers array and adds a new server every time we click the button-->