<div class="container">
  <div class="row">
    <div class="col-xs-12">

      <h1>Basics project: Servers - Components, databinding & directives</h1>
      <app-servers></app-servers>
      <br>
       
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-xs-12">

      <h1>Component assignment</h1>

      <ol>
        <li>Create two new Components (manually or with CLI): <strong>WarningAlert</strong> and <strong>SuccessAlert</strong></li>
        <li>Output them beneath each other in the AppComponent</li>
        <li>Output a warning or success message in the Components</li>
        <li>Style the Components appropriately (maybe some red/ green text?)</li>
      </ol>
      <br>
      <h4><strong>Solution:</strong></h4>
      <p>Warning Alert - created manually, inline template & Style:</p>
      <app-warning-alert></app-warning-alert>
      <p>Success Alert - created with CLI, external template and styles:</p>
      <app-success-alert></app-success-alert>
      <br>
            
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12">

      <h1>Databinding assignment</h1>

      <ol>
        <li>Add a Input field which updates a property ('username') via Two-Way-Binding</li>
        <li>Output the username property via String Interpolation (in a paragraph below the input)</li>
        <li>Add a button which may only be clicked if the username is NOT an empty string</li>
        <li>Upon clicking the button, the username should be reset to an empty string</li>
      </ol>

      <br>
      <h4><strong>Solution:</strong></h4>

      <label>Username</label>
      <input type="text" class="form-control" [(ngModel)]="username">
      <p>{{username}}</p>

      <!-- Button disabled if usename === '' (empty string) (returns true or false) -->
      <button class="btn btn-primary" [disabled]="username === ''" (click)="username = ''">Reset User</button>
      <hr>
            
    </div>
  </div>
</div>